
input[type="checkbox"]{

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  overflow: hidden;

  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  height: 1em;
  width: 1em;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  margin: 0 0.2em 0 0;

  cursor: pointer;
}

input[type="checkbox"]:checked:focus {
  outline: none;
}

input[type="checkbox"]:checked:after,
input[type="checkbox"]:checked::after{
  content: "\1F4A9";
  font-size: 0.8em;
  position: relative;
  bottom: 0.15em;
  display: inline-block;
  color: #000000;
}
